body{
    margin: 0;
    font-family: Arial, Helvetica;
}

.bonus-image {
    background-image: url("/home/brauntob/MES-Praktikum/Website-Tudip/img/bonusscreen.jpg");
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(3px) opacity(60%);
}

.bonus-text, .bonus-text01, .collect-button{
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

.bonus-text{
    top: 25%;
    left: 50%;
    font-size: 55px;
    
}

.bonus-text01{
    top: 60%;
    left: 50%;
    font-size: 65px;    
}

.collect-button{
    top: 66%;
    left: 50%;
    border: 2px solid black;
    border-color: #000;
    font-size: 20px;
    width: 120px;
    background-color: transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
}

.collect-button:hover{
    background-color: #868a91;
}

