body{
    margin: 0;
    font-family: Arial, Helvetica;
}

.background {
    background-color: #babdb9;
    height: 1000px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    filter: blur(3px) opacity(60%);
}

.error-text01, .error-text02{
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);
    color: #000;
    font-weight: bold;
}

.error-text01{
    top: 20%;
    left: 50%;
    font-size: 55px;
}

.error-text02{
    top: 60%;
    left: 50%;
    font-size: 25px;
}

.img{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    height: 300px;
    width: 250px;
}

a:link, a:visited {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    background-color: black;
    color: white;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: grey;
}

