body{
    margin-left: 10%;
    margin-right: 10%;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

nav li{
    float:left;
}

nav  a{
    display:block;
    padding-left: 40px;
    font-size: 20px;
    color: black;
}

.right{
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}

.frontpagetext{
    color:black;
    text-decoration: none;
    font-size: 44px;
    font-weight: bolder;
    padding-left: 55px;
}

#livestream{
    background-color: lightblue;
    position: absolute;
    max-width: 79%;
    display: block;
    padding-bottom: 10px;
    top: 90px;
}


.pflanze{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.linkerpfeil{
  transition: arrow-shadow .3s;
  position: absolute;
  top: 32%;
  left: 20%;
}

.rechterpfeil{
    transition: arrow-shadow .3s;
    position: absolute;
    top: 32%;
    right: 20%;
}
/*shadow not working, lol*/
.linkerpfeil:hover{
    arrow-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.rechterpfeil:hover{
    arrow-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.accept{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: limegreen;
    border-radius: 8px;
    border-width: thick;
    width: 20%
}



.Homebutton{
    top: 15px;
    position: absolute;
    background-color: #eaeafa;
    padding-bottom: 3px;
}

.Homeicon{
    position: absolute;
    width: 10%;
    margin-top: 2px;
    left: 0%;
}


/**************** Loginscreen *****************/

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
  padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 4px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.logintext{
    position: relative;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
}

.loginbutton{
    position: relative;
    display: block;
    margin-top: 10px;
    width: 20%;
}

/* The Close Button */
.close {
  position: absolute;
  right: 386px;
  color: #000;
  font-size: 50px;
  font-weight: bold;
    z-index: 2;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.2s;
  animation: animatezoom 0.2s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.error {
    position: relative;
    left: 0%;
  width: 79.4%;
    padding-top 0px;
  margin: 8px 0px;
 
  color: #a94442; 
  text-align: left;
}

.rectangle {
    position: absolute;
    top: 14px;
    left: 67%;
    height: 55px;
    width: 165px;
    background-color: lightblue;
    z-index: -1;
}
.profilepic{
    position: absolute;
    display: block;
    left: 84.8%;
    top: 7px;
    width: 53px;
    border: 5px solid black;
}

.Cart{
    position: absolute;
    display: block;
    left: 67%;
    width: 60px;
    top: 11px;
}

.Shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    left: 71.5%;
    top: -7px;
}

.Coins{
    position: absolute;
    display: block;
    left: 53%;
    top: 24px;
    width: 30px;
    
}

.Cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    left: 56%;
    top: -7px;
}

/*.pflanze{
  filter: brightness(140%) contrast(30%);
}*/

.Lock{
    position: absolute;
    width: 15%;
    left: 42.5%;
    top: 25%;
}

.accept{
    display:none;
}

.Unavailable{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: red;
    border-radius: 8px;
    border-width: thick;
    width: 20%
}


.Bonusjpg{
    position: absolute;
    clip: rect(0px 1204px 664px 0px); 
    height: auto;
    display: block;
    z-index: 2;
    max-width: 100%;
    top: 0.8%;
    filter: blur(3px) opacity(45%);

}

.Bonustexttop{
    position: absolute;
    z-index: 2;
    font-weight: bold;
    font-size: 60px;
    margin-left: 20%;
    margin-right: auto;
}

.Yellowbox{
  position: absolute;
    top: 0.8%;
   width: 79.2%;
    height: 84.4%;
  background-color: #e9f29b;
    z-index: 1;
}

.Bonustextcoins{
    position: absolute;
    z-index: 2;
    font-weight: bold;
    font-size: 52px;
    left: 40%;
    top: 40%; 
}

.Coins{
    z-index: 3;
    width: 3%;
    top: 47.5%;
    left: 51%;
}

.Bonusjpg{
    display: none;
}
.Bonustexttop{
    display:none;
}

.Yellowbox{
    display:none;
}
.Bonustextcoins{
    display:none;
}
.Coins{
    z-index: 0;
    left: 53%;
    top: 24px;
    width: 30px;
}

.accept{
    display: block;
}
.Unavailable{
    display:none;
}
/* Add padding to containers */
.Torturecontainer {
  padding: 16px;
}
 /* The Modal (background) */
.Torture {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
  padding-top: 10px;
}

/* Modal Content/Box */
.Torturecontent {
  background-color: lightblue;
  margin: 5px auto; /* 15% from the top and centered */
  border: 4px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

#stream{
    display:block;
}
.stream{
    position: relative;
    left: 5%;
    
}
.closetorture {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 20.2%;
  top: 1%;
  color: #000;
  font-size: 50px;
  font-weight: bold;
}

/* Close button on hover */
.closetorture:hover,
.closetorture:focus {
  color: red;
  cursor: pointer;
}

iframe{
    height: 600px;
    width: 89.7%;
}

.Quittorture{
    position: relative;
    display: block;
    margin-top: 10px;
    font-size: 25px;
    background-color: red;
    border-radius: 8px;
    border-width: thick;
    width: 180px;
    margin-left: 40px;
}

.fire{
    width: 35px;
    height: 35px;
}
.bolt{
    width: 35px;
    height: 35px;
}
.acid{
    width: 35px;
    height: 35px;
}
.wind{
    width: 35px;
    height: 35px;
}
.drill{
    width: 35px;
    height: 35px;
}

.tortureul{
    position: absolute;
    right: 23.8%;
    top: 650px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

.tortureul li{
    float:right;
    border: 5px solid black;
    margin-left: 45px;
}

.Timerbox{
    position: absolute;
    height: 48px;
    width: 150px;
    background-color: darkgrey;
    left: 37%;
    top: 650px;
}

.Timericon{
    position: absolute;
    width: 40px;
    top: 655px;
    left: 37.1%;
    z-index: 1;
}
.logout{
    position: absolute;
    z-index: 2;
    top: 90%;
}
