body{
    margin-left: 10%;
    margin-right: 10%;
}


.wrapper{
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

nav li{
    float:left;
}

nav  a{
    display:block;
    padding-left: 40px;
    font-size: 20px;
    color: black;
}

.right{
    margin-top: 10px;
    float: right;
    margin-right: 20px;
}

.frontpagetext{
    color:black;
    text-decoration: none;
    font-size: 48px;
    font-weight: bolder;
    padding-left: 55px;
}

#livestream{
    background-color: lightblue;
    position: absolute;
    max-width: 79%;
    display: block;
    padding-bottom: 10px;
    top: 10%;
}

.stream{
    position: relative;
    left: 25%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.pflanze{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.linkerpfeil{
  position: absolute;
  top: 32%;
  left: 20%;
}

.rechterpfeil{
    position: absolute;
    top: 32%;
    right: 20%;
}

.accept{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: limegreen;
    border-radius: 8px;
    border-width: thick;
    width: 20%
}



.Homebutton{
    position: absolute;
    background-color: #eaeafa;
    padding-bottom: 3px;
}

.Homeicon{
    position: absolute;
    width: 11%;
    left: 0%
    
}


/**************** Loginscreen *****************/

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 4px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.logintext{
    position: relative;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
}

.loginbutton{
    position: relative;
    display: block;
    margin-top: 10px;
    width: 20%;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 386px;
  top: 1;
  color: #000;
  font-size: 50px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.2s;
  animation: animatezoom 0.2s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} 

.right{
    display:none;
}

.rectangle {
  position: absolute;
    top: 1.5%;
    left: 67%;
  height: 55px;
  width: 160px;
  background-color: lightblue;
    z-index: -1;
}
.profilepic{
    position: absolute;
    display: block;
    left: 84.87%;
    top: 1%;
    width: 3.5%;
    border: 5px solid black;
}

.Cart{
    position: absolute;
    display: block;
    left: 67%;
    width: 4%;
    top: 1%;
}

.Shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    left: 72%;
    top: -1%;
}

.Coins{
    position: absolute;
    left: 53%;
    top: 2.9%;
    width: 2%;
    
}

.Cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    left: 56%;
    top: -1%;
}

/*********Neu in diesem Dokument********/

.pflanze{
  filter: brightness(140%) contrast(30%);
}

.Lock{
    position: absolute;
    width: 15%;
    left: 42.5%;
    top: 25%;
}

.accept{
    display:none;
}

.Unavailable{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: red;
    border-radius: 8px;
    border-width: thick;
    width: 20%
}