body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
}
a, p, button, label, input, h1{
    font-family: sans-serif;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

nav li{
    float: left;
}
nav a{
    display: sblock;
    padding-left: 40px;
    font-size: 20px;
    color: black;
}

.right{
    margin-top: 10px;
    float: right;
    margin-right: 27px;
}


.frontpagetext{
    color:black;
    text-decoration: none;
    font-size: 44px;
    font-weight: bold;
    color: black;
    padding-left: 15px;
    position: relative;
    left: 5px;
    font-family: 'Arial', sans-serif;
}

#livestream{
    background-color: lightgrey;
    position: absolute;
    width: 78.25%;
    display: block;
    padding-bottom: 10px;
    top: 100px;
}
.pflanze{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 500px;
}

.linkerpfeil{
  position: absolute;
  top: 32%;
  left: 20%;
    cursor:pointer;
}

.rechterpfeil{
    position: absolute;
    top: 32%;
    right: 20%;
    cursor:pointer;
}
.accept{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: skyblue;
    border: 1px solid black;
    border-radius: 8px;
    border-width: thin;
    width: 20%;
    color: black;
    cursor: pointer;
}
.Homebutton{
    top: -10px;
    position: absolute;
    padding-bottom: 20px;
    padding-top: 25px;
    left: 153px;
    width: 450px;
    background-color: white;
}
.Homeicon{
    position: absolute;
    width: 51px;
    margin-top: 0px;
    left: 0px;
}


/**************** Loginscreen *****************/

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

 /* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.65); 
  padding-top: 100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; 
  border: 4px solid #888;
  width: 50%;
}

.logintext{
    position: relative;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
}

.loginbutton{
    position: relative;
    display: block;
    margin-top: 10px;
    width: 20%;
}

/* The Close Button */
.close {
  position: absolute;
  right: 386px;
  color: #000;
  font-size: 50px;
  font-weight: bold;
    z-index: 2;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.2s;
  animation: animatezoom 0.2s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.error {
    position: relative;
    left: 0%;
    width: 79.4%;
    padding-top 0px;
    margin: 8px 0px;
    color: #a94442; 
    text-align: left;
}

.rectangle {
    position: absolute;
    top: 10px;
    left: 66.45%;
    height: 56px;
    width: 165px;
    z-index: 0;
}
.profilepic{
    position: absolute;
    display: block;
    left: 84.15%;
    top: 10px;
    width: 56px;
    border: 2px solid white;
}

.Cart{
    position: absolute;
    display: block;
    left: 66.45%;
    width: 60px;
    top: 12px;
}

.Shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: white;
    
    left: 70.95%;
    top: -5px;
}

.Coins{
    position: absolute;
    display: block;
    left: 40%;
    top: 26px;
    width: 30px;
    
}

.Cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 52.5%;
    top: -5px;
}

/*.pflanze{
  filter: brightness(140%) contrast(30%);
}*/

.Lock{
    position: absolute;
    width: 15%;
    left: 42.5%;
    top: 25%;
}

.accept{
    display:none;
}

.Unavailable{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: red;
    border-radius: 8px;
    border-width: thick;
    width: 20%
}


.Bonusjpg{
    position: absolute;
    clip: rect(0px 1204px 664px 0px); 
    height: auto;
    display: block;
    z-index: 2;
    max-width: 100%;
    top: 0.8%;
    filter: blur(3px) opacity(45%);

}

.Bonustexttop{
    position: absolute;
    z-index: 2;
    font-weight: bold;
    font-size: 60px;
    margin-left: 20%;
    margin-right: auto;
}

.Yellowbox{
  position: absolute;
    top: 0.8%;
   width: 79.2%;
    height: 84.4%;
  background-color: #e9f29b;
    z-index: 1;
}

.Bonustextcoins{
    position: absolute;
    z-index: 2;
    font-weight: bold;
    font-size: 52px;
    left: 40%;
    top: 40%; 
}

.Coins{
    z-index: 3;
    width: 3%;
    top: 47.5%;
    left: 51%;
}

.Bonusjpg{
    display: none;
}
.Bonustexttop{
    display:none;
}

.Yellowbox{
    display:none;
}
.Bonustextcoins{
    display:none;
}
.Coins{
    z-index: 0;
    left: 49%;
    top: 26px;
    width: 30px;
}

.accept{
    display: block;
}
.Unavailable{
    display:none;
}

.Torturecontainer {
  padding: 16px;
}
 /* The Modal (background) */
.Torture {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.85); 
  padding-top: 10px;
   
}

/* Modal Content/Box */
.Torturecontent {
  background-color: lightgrey;
  margin: 5px auto; 
  border: 4px solid #888;
  width: 60%;
     border: 1px solid white;
}

#stream{
    display:block;
}
.stream{
    position: relative;
    left: 5%;
    
}
.closetorture {
  position: absolute;
  right: 20.2%;
  top: 1%;
  color: #000;
  font-size: 50px;
  font-weight: bold;
}

/* Close button on hover */
.closetorture:hover,
.closetorture:focus {
  color: red;
  cursor: pointer;
}

iframe{
    height: 600px;
    width: 89.7%;
    border: 2px solid black;
}

.Quittorture{
    position: relative;
    left: 3px;
    display: block;
    margin-top: 18px;
    font-size: 25px;
    background-color: skyblue;
    border-radius: 8px;
    border-width: thin;
    width: 180px;
    margin-left: 40px;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}


.fire{
    width: 35px;
    height: 35px;
}
.bolt{
    width: 35px;
    height: 35px;
}
.acid{
    width: 35px;
    height: 35px;
}
.wind{
    width: 35px;
    height: 35px;
}
.drill{
    width: 35px;
    height: 35px;
}

.tortureul{
    position: absolute;
    right: 23.8%;
    top: 650px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

.tortureul li{
    float:right;
    border: 5px solid black;
    margin-left: 45px;
    cursor: pointer;
}

.Timerbox{
    position: absolute;
    height: 48px;
    width: 150px;
    background-color: darkgrey;
    left: 37%;
    top: 645px;
    border: 2px solid black;
}

.Timericon{
    position: absolute;
    width: 40px;
    top: 652px;
    left: 37.1%;
    z-index: 1;
}
.logout{
    position: absolute;
    z-index: 2;
    top: 90%;
}
.unavailable{
    background-color: dodgerblue;
}
.buttonlink{
    text-decoration: none;
}

#Countdown{
    font-size: 30px;
    top: -3px;
    font-weight: bold;
    position: relative;
    left: -20px;
}
.navbar{
    color:black;
    position: absolute;
    top: 0px;
    left: -100px;
    width: 106.6%;
    height: 85px;
    background-color:black;
}
.rectangle:hover{
    border: 2px solid white;
    z-index: 1;
}
.profilepic:hover{
    border: 4px solid white;
}
.cooldown_fire{
    position: absolute;
    display: none;
    width: 35px;
    height: 40px;
    top: 5px;
    left: 50px;
    background-color: red;
    color: red;
    z-index: 0;
    opacity: 0.7;
}
.cooldown_wind{
    position: absolute;
    display: none;
    width: 35px;
    height: 40px;
    top: 5px;
    left: 140px;
    background-color: red;
    color: red;
    z-index: 0;
    opacity: 0.7;
}
.cooldown_bolt{
    position: absolute;
    display: none;
    width: 35px;
    height: 40px;
    top: 5px;
    left: 230px;
    background-color: red;
    color: red;
    z-index: 0;
    opacity: 0.7;
}
.cooldown_acid{
    position: absolute;
    display: none;
    width: 35px;
    height: 40px;
    top: 5px;
    left: 320px;
    background-color: red;
    color: red;
    z-index: 0;
    opacity: 0.7;
}
.cooldown_drill{
    position: absolute;
    display: none;
    width: 35px;
    height: 40px;
    top: 5px;
    left: 410px;
    background-color: red;
    color: red;
    z-index: 0;
    opacity: 0.7;
}
.linkz{
    position: relative;
    top: 1px;
    color: white;
}
.linkz:hover{
    color: lightgrey;
}


.profilepic{
    position: absolute;
    display: block;
    left: 84.15%;
    top: 10px;
    width: 56px;
    border: 2px solid white;
}


figure{
    position: absolute;
    display: block;
    left: 81.58%;
    top: -10px;
    width: 56px;
    height: 56px;
    border: 2px solid white;
    overflow:hidden; 
}

figure img{
   width: 100%;
    height: 130%;
    margin:-21.875% 0;
}   
.accept:hover{
    background-color: dodgerblue;
    color: black;
}
.Quittorture:hover{
    background-color: dodgerblue;
    color: black;
}
.tortureul li:hover{
    background-color: dimgrey;
}


#bonus_screen {
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.65); 
  padding-top: 100px;
}

.bonus_content{
    background-color: #fefefe;
    margin: 10px auto; 
    border: 4px solid #888;
    width: 50%;
    height: 500px;
}
.img_bonus{
    position: absolute;
    margin: 0px auto;
    width: 50%;
    height: 500px;
    object-fit: cover;
    filter: brightness(110%) contrast(60%) opacity(30%) blur(1px);
}
.bonus_content h1{
    position: relative;
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
}
.bonus_content h2{
    position: relative;
    text-align: center;
    margin-left: 45px;
    top: 0px;
    font-size: 40px;
}
.bonus_coins{
    position: relative;
    top: 85px;
    width: 50px;
    left: 37%;
}
.bonus_button{
    position: relative;
    top: 100px;
}
figure:hover{
    border: 4px solid white;
}
.errornumber{
    color:red;
}