body{
    margin-left: 10%;
    margin-right: 10%;
}
a, p, button, h1{
    font-family: sans-serif;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

nav li{
    float:left;
}
a{
    text-decoration: none;  
}
nav  a{
    display:block;
    padding-left: 40px;
    font-size: 20px;
    color: black;
}

.frontpagetext{
    color: white;
    text-decoration: none;
    font-size: 44px;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
    left: 45px;
    font-family: 'Arial',sans-serif;
}
.Homebutton{
    top: -10px;
    position: absolute;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 153px;
    width: 450px;
    background-color: black;
}
.Homeicon{
    position: absolute;
    width: 51px;
    margin-top: 0px;
    left: 0px;
}

.rectangle {
    position: absolute;
    top: 10px;
    left: 66.45%;
    height: 56px;
    width: 165px;
    z-index: 0;
}
.profilepic{
    position: absolute;
    display: block;
    left: 84.75%;
    top: -30px;
    width: 56px;
    border: 2px solid white;
    background-color: white;
    padding-bottom: 25px;
    margin-top: 20px;
    padding-top: 22px;
    padding-left: 1px;
    padding-right: 1px;
}

.Cart{
    position: absolute;
    display: block;
    left: 67%;
    width: 60px;
    top: 12px;
}

.Shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: white;
    
    left: 71.5%;
    top: -5px;
}

.Coins{
    position: absolute;
    display: block;
    left: 49.4%;
    top: 26px;
    width: 30px;
    
}

.Cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 52.9%;
    top: -5px;
}

.MyProfile{
    position: relative;
    text-align: center;
    font-size: 40px;
    top:  0px;
    font-weight: bold;
}

.Userpicture{
    position: relative;
    display: inline;
    width: 18.7%;
    height: 18.7%;
    border: 8px solid black;
    margin-top: 70px;
    margin-left: 15px;
}
.Username{
    position: absolute;
    top: 165px;
    left: 30%;
}
.Plantstortured{
    position: absolute;
    top: 210px;
    left: 30%;
}
.Profiletext{    
    font-size: 24px;
}
.Normal{
    position: relative;
    display: inline;
    top: -120px;
    margin-top: 50px;
    margin-left: 15px;
    font-size: 30px;
    background-color: skyblue;
    border-radius: 8px;
    border-width: thin;
    border-color: black;
    color: black;
    border: 2px solid black;
    width: 20%;
}
.Delete{
    margin-top: 120px;
    background-color: red;
}

.Profileelements{
    background-color: lightgrey;
    z-index: -1;
    margin-top: 95px;
    height: 650px;
    width: 98.5%;
}
figure{
    width: 225px; 
    height: 225px;
    overflow:hidden; 
    position: relative;
    border: 8px solid black;
    top: -10px;
    margin-left: 15px;
    margin-bottom: 70px;
}

figure img{
   width: 100%;
    height: 130%;
    margin:-21.875% 0;
}
.navbar{
    color:black;
    position: absolute;
    top: 0px;
    left: -100px;
    width: 150%;
    height: 85px;
    background-color:black;
}
.Homebutton:hover{
    border: 2px solid white;
    z-index: 1;
}
.rectangle:hover{
    border: 2px solid white;
    z-index: 1;
}
