body{
    margin-left: 9.9%;
    margin-right: 10%;
}
a, p, button, input, label, h1{
    font-family: sans-serif;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

nav li{
    text-decoration: none;  
}
nav  a{
    display:block;
    padding-left: 40px;
    font-size: 20px;
    color: black;
}

.frontpagetext{
    color: white;
    text-decoration: none;
    font-size: 44px;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
    left: 45px;
    font-family: 'Arial',sans-serif;
}
.Homebutton{
    top: -10px;
    position: absolute;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 153px;
    width: 450px;
    background-color: black;
}
.Homeicon{
    position: absolute;
    width: 51px;
    margin-top: 0px;
    left: 0px;
}

.rectangle {
    position: absolute;
    top: 10px;
    left: 66.45%;
    height: 56px;
    width: 165px;
    z-index: 0;
}
.profilepic{
    position: absolute;
    display: block;
    left: 84.1%;
    top: -30px;
    width: 56px;
    border: 2px solid white;
    background-color: white;
    padding-bottom: 25px;
    margin-top: 20px;
    padding-top: 22px;
    padding-left: 1px;
    padding-right: 1px;
}

.Cart{
    position: absolute;
    display: block;
    left: 66.45%;
    width: 60px;
    top: 12px;
}

.Shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: white;
    
    left: 70.95%;
    top: -5px;
}

.Coins{
    position: absolute;
    display: block;
    left: 49%;
    top: 26px;
    width: 30px;
    
}

.Cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 52.5%;
    top: -5px;
}

.Header{
    position: relative;
    top: -15px;
    display: inline;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0px;
    font-weight: bold;
    text-align: center;
}
.linkerpfeil{
    position: absolute;
    left: 17%;
    top: 30px;
    width: 50px;
    margin-bottom: 10px;
}
.screen{
    position: relative;
    background-color: lightgrey;
    width: 95.25%;
    padding: 16px;
    padding-top: 60px;
    top: 62px;
}

input{
    position: relative;
    display: block;
}

.userpic{
    position: absolute;
    left: 84.8%;
    top: 40px;
    width: 140px;
    height: 140px;
    border: 5px solid black;
}



input[type=text], input[type=password] {
  width: 80%;
  padding: 10px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.accept{
     position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: limegreen;
    border: none;
    width: 20%;
}
.uploadbutton{
    position: absolute;
    left: 81.8%;
    font-size: 20px;
    top: 190px;
    height: 35px;
    background-color: #3c91fa;
    width: 18%;
    cursor: pointer;
    color: black;
}

.error {
    position: relative;
    left: 0%;
    width: 79.4%; 
    padding-top: 0px;
    margin: 8px 0px;
    color: #a94442; 
    text-align: left;
}


.fig2{
   width:140px; 
    height: 140px;
   overflow:hidden; 
   margin:0;   
    position: absolute;
     left: 84.8%;
    top: 40px;
    border: 5px solid black;
    
}
.fig2 img{
   display:none; 
   width:100%; 
    margin:-21.875% 0;
    object-fit: cover;
}

.Normal{
    position: relative;
    display: block;
    font-size: 20px;
    background-color: #3c91fa;
    color: black;
    width: 20%;
    height: 35px;
    border: none;
    cursor: pointer;
}

.Cancel{
    position: relative;
    display: block;
    font-size: 20px;
    width: 20%;
    height: 35px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
}

.Accept{
    background-color: limegreen;
    display: inline;
    width: 27%;
    top: 35px;
    left: 73.5%;
}

.EditProfile{
    text-align: center;
    top: -85px;
    position: relative;
    font-size: 40px;
    font-weight: bold;

}
form{
    position: relative;
    top: -80px;
}
.navbar{
    color:black;
    position: absolute;
    top: 0px;
    left: -100px;
    width: 106.6%;
    height: 85px;
    background-color:black;
}
.Homebutton:hover{
    border: 2px solid white;
    z-index: 1;
}
.rectangle:hover{
    border: 2px solid white;
    z-index: 1;
}

.fig1{
    position: absolute;
    display: block;
    left: 81.55%;
    top: -10px;
    width: 56px;
    height: 56px;
    border: 2px solid white;
    overflow:hidden; 
    background-color: white;
    padding-bottom: 25px;
    top: -20px;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.fig1 img{
   width: 100%;
    height: 130%;
    margin:-21.875% 0;
    object-fit: cover;
}  
a{
    text-decoration: none;
}
.Userpicture{
    position: absolute;
    width: 144px;
    height: 144px;
    left: 85.05%;
    top: 43px;
    object-fit: cover;
}

.Cancel:hover{
    background-color: #6e6b6b;
    color: white;
}
.accept:hover{
    background-color: #367ff5;
    color: black;
}
.Normal:hover{
    background-color: #1dad47;
    color: black;
}