body{
    margin-left: 9.9%;
    margin-right: 10%;
    font-family: sans-serif;
}
/* Black bar on the top */
#navbar{
    color: black;
    position: fixed;
    top: 0px;
    left: -100px;
    width: 106.5%;
    height: 85px;
    background-color: black;
    z-index: 1;
}
/* Navigation bar and its elements */
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}
nav li{
    text-decoration: none;  
}
a{
    text-decoration: none;
}
/* Torture My Plant*/
#frontpagetext{
    color: white;
    text-decoration: none;
    font-size: 44px;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
    left: 45px;
    font-family: 'Arial',sans-serif;
}
#homebutton{
    top: -10px;
    position: fixed;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 153px;
    width: 420px;
    background-color: black;
    z-index: 1;
}
/* Add border on hover */
#homebutton:hover{
    border: 2px solid white;
}
#homeicon{
    position: absolute;
    width: 51px;
    margin-top: 0px;
    left: 0px;
}
#rectangle {
    position: fixed;
    top: 10px;
    left: 66.45%;
    height: 56px;
    width: 165px;
    z-index: 2;
}
/* Add border on hover */
#rectangle:hover{
    border: 2px solid white;
    z-index: 2;
}
/* Generic user picture */
.profilepic{
    position: fixed;
    display: block;
    left: 84.1%;
    top: -30px;
    width: 56px;
    border: 2px solid white;
    background-color: white;
    padding-bottom: 25px;
    margin-top: 20px;
    padding-top: 22px;
    padding-left: 1px;
    padding-right: 1px;
    z-index: 1;
}
/* User picture on the top right corner */
.fig1{
    position: fixed;
    display: block;
    left: 81.55%;
    top: -10px;
    width: 56px;
    height: 56px;
    border: 2px solid white;
    overflow:hidden; 
    background-color: white;
    padding-bottom: 10px;
    top: -20px;
    padding-top: 20px;
    padding-left: 1px;
    padding-right: 1px;
    z-index: 1;
}
.fig1 img{
   width: 100%;
    height: 130%;
    margin:-21.875% 0;
    object-fit: cover;
}  
#cart{
    position: fixed;
    display: block;
    left: 66.45%;
    width: 60px;
    top: 12px;
    z-index: 1;
}
#shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: fixed;
    color: white;
    z-index: 1;
    left: 70.95%;
    top: -5px;
}
#coins{
    position: fixed;
    display: block;
    left: 49%;
    top: 26px;
    width: 30px;
    z-index: 1;
}
#cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: fixed;
    color: white;
    left: 52.5%;
    top: -5px;
    z-index: 1;
}
/* Page content box */
#screen{
    position: relative;
    background-color: lightgrey;
    width: 95.25%;
    padding: 16px;
    padding-top: 60px;
    top: 62px;
}
/* Input fields */
input{
    position: relative;
    display: block;
}
input[type=text], input[type=password] {
  width: 80%;
  padding: 10px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Selected picture */
.userpic{
    position: absolute;
    left: 84.8%;
    top: 40px;
    width: 140px;
    height: 140px;
    border: 5px solid black;
    object-fit: cover;
}
.button{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 30px;
    background-color: limegreen;
    border: none;
    width: 20%;
}
.button:hover{
    background-color: #367ff5;
    color: black;
}
.uploadbutton{
    position: absolute;
    left: 81.8%;
    font-size: 20px;
    top: 190px;
    height: 35px;
    background-color: #3c91fa;
    width: 18%;
    cursor: pointer;
    color: black;
}
/* Errors after submitting */
.error {
    position: relative;
    left: 0%;
    width: 79.4%; 
    padding-top: 0px;
    margin: 8px 0px;
    color: #a94442; 
    text-align: left;
}
/* Big profile picture */
.fig2{
   width:140px; 
    height: 140px;
   overflow:hidden; 
   margin:0;   
    position: absolute;
     left: 84.8%;
    top: 40px;
    border: 5px solid black;
    
}
/* Selected picture */
.fig2 img{
   display:none; 
   width:100%; 
    margin:-21.875% 0;
    object-fit: cover;
}
/* Cancel button */
.Cancel{
    position: relative;
    display: block;
    font-size: 20px;
    width: 20%;
    height: 35px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
}
.Cancel:hover{
    background-color: #6e6b6b;
    color: white;
}
.acceptbutton{
    position: relative;
    display: block;
    font-size: 20px;
    background-color: limegreen;
    display: inline;
    color: black;
    width: 27%;
    height: 35px;
    top: 35px;
    left: 73.5%;
    border: none;
    cursor: pointer;
}
.acceptbutton:hover{
    background-color: #1dad47;
}
/* Header */
.editProfile{
    text-align: center;
    top: -85px;
    position: relative;
    font-size: 40px;
    font-weight: bold;
}
form{
    position: relative;
    top: -80px;
}
/* Generic profile picture */
.Userpicture{
    position: absolute;
    width: 144px;
    height: 144px;
    left: 85.05%;
    top: 43px;
    object-fit: cover;
}
