body{
    margin-left: 10%;
    margin-right: 10%;
}
a, p, h1, button, h2{
    font-family: sans-serif;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

nav li{
    float:left;
}

nav  a{
    display:block;
    padding-left: 40px;
    font-size: 20px;
    color: black;
}


.frontpagetext{
    color: white;
    text-decoration: none;
    font-size: 44px;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
    left: 45px;
    font-family: 'Arial',sans-serif;
}
.Homebutton{
    top: -10px;
    position: absolute;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 153px;
    width: 450px;
    background-color: black;
}
.Homeicon{
    position: absolute;
    width: 51px;
    margin-top: 0px;
    left: 0px;
}

.rectangle {
    position: absolute;
    left: 67%;
    height: 70px;
    width: 165px;
    top: -10px;
    z-index: 0;
    background-color: white;
    padding-bottom: 15px;
    padding-top: 10px;
}
.profilepic{
    position: absolute;
    display: block;
    left: 84.8%;
    top: 10px;
    width: 56px;
    border: 2px solid white;
}

.Cart{
    position: absolute;
    display: block;
    left: 67%;
    width: 60px;
    top: 12px;
}

.Shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: black;
    
    left: 71.5%;
    top: -5px;
}

.Coins{
    position: absolute;
    display: block;
    left: 49.4%;
    top: 26px;
    width: 30px;
    
}

.Cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    color: white;
    left: 52.9%;
    top: -5px;
}
.screen{
    margin-top: 160px;
    background-color: lightgrey;
    padding-left: 20px;
    width: 97.1%;
}

.Header{
     position: absolute;
    top: 75px;
    font-size: 40px;
    font-weight: 400;
    left: 45%;
    font-weight: bold;
}
.screen ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}
.screen li{
    float:left;
    overflow: hidden;
    display:inline;
    width: 50%;
    margin-bottom: 20px;
}
.Itemjpg{
    width: 200px;
    float: left;
    height: 200px;
    border: 6px solid black;
}
.Categorytext{
    margin-bottom: 10px;
    margin-top: 10px;
}
.Description{
    position: absolute;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 225px;
    width: 22%;
}

.Coinicon{
    position: relative;
    display: inline;
    margin-top: 60px;
    margin-left: 60px;
    top: 62px;
    width: 5%;
}
.Price{
    position: relative;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    top: 55px;
    left: 5px;
}
.Buy{
    position: relative;
    top: 80px;
    display: block;
    margin-left: 225px;
    font-size: 26px;
    background-color: skyblue;
    border-radius: 8px;
    border-width: thin;
    width: 220px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.navbar{
    color:black;
    position: absolute;
    top: 0px;
    left: -100px;
    width: 106.6%;
    height: 85px;
    background-color:black;
}
.Homebutton:hover{
    border: 2px solid white;
    z-index: 1;
}
.profilepic:hover{
    border: 4px solid white;
}

/* Confirmation Popup */

.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.65); 
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: 4em auto;
  background: #FFF;
    height: 207px;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
    border: 2px solid black;
}
.cd-popup-container p {
  padding: 3em 1em;
}

.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}/*
.cd-buttons li:first-child{
    width: 230px;
}
.cd-buttons li:last-child{
    left: 300px;
    width: 50%;
}*/
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: skyblue;
  border-radius: 0 0 0 .25em;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    height: 58px;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    height: 58px;   
}

.cd-popup-container .popup-close {
    border-left: 2px solid black;
}
.cd-popup-container .cd-popup-container {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}

.cd-popup-container .popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}   
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 12em auto;
  }
}

a{
    text-decoration: none;
}
.cd-popup-container .cd-buttons li:first-child{
  color: black;
    position: absolute;
    left: -2px;
}
.cd-popup-container .cd-buttons li:last-child{
  color: black;
    position: absolute;
    left: 248px;
    width: 50.4%;
}
figure{
    position: absolute;
    display: block;
    left: 82.2%;
    top: -10px;
    width: 56px;
    height: 56px;
    border: 2px solid white;
    overflow:hidden; 
}

figure img{
   width: 100%;
    height: 130%;
    margin:-21.875% 0;
}   

.Buy:hover{
    background-color: dodgerblue;
    color: black;
}