body{
    margin-left: 10%;
    margin-right: 10%;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}

nav li{
    float:left;
}

nav  a{
    display:block;
    padding-left: 40px;
    font-size: 20px;
    color: black;
}

.frontpagetext{
    color:black;
    text-decoration: none;
    font-size: 48px;
    font-weight: bolder;
    padding-left: 55px;
}

.Homebutton{
    position: absolute;
    background-color: #eaeafa;
    padding-bottom: 3px;
}

.Homeicon{
    position: absolute;
    width: 11%;
    left: 0%    
}

.rectangle {
  position: absolute;
    top: 1.5%;
    left: 67%;
  height: 55px;
  width: 160px;
  background-color: lightblue;
    z-index: -1;
}
.profilepic{
    position: absolute;
    display: block;
    left: 84.87%;
    top: 1%;
    width: 3.5%;
    border: 5px solid black;
}

.Cart{
    position: absolute;
    display: block;
    left: 67%;
    width: 4%;
    top: 1%;
}

.Shoptext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    left: 72%;
    top: -1%;
}

.Coins{
    position: absolute;
    left: 53%;
    top: 2.9%;
    width: 2%;
    
}

.Cointext{
    font-size: 30px;
    display: block;
    font-weight: bold;
    position: absolute;
    left: 56%;
    top: -1%;
}
.screen{
    margin-top: 160px;
}

.Header{
     position: absolute;
    top: 10%;
    font-size: 40px;
    font-weight: 400;
    left: 45%;
    font-weight: bold;
}
.screen ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 30px;
}
.screen li{
    float:left;
    overflow: hidden;
    display:inline;
    width: 50%;
    margin-bottom: 20px;
}
.Itemjpg{
    width: 200px;
    float: left;
    height: 200px;
    border: 6px solid black;
}
.Categorytext{
    margin-bottom: 10px;
    margin-top: 10px;
}
.Description{
    position: absolute;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 225px;
    width: 22%;
}

.Coinicon{
    position: relative;
    display: inline;
    margin-top: 60px;
    margin-left: 75px;
    top: 62px;
    width: 5%;
}
.Price{
    position: relative;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    top: 55px;
    left: 5px;
}
.Buy{
    position: relative;
    top: 70px;
    display: block;
    margin-left: 225px;
    font-size: 30px;
    background-color: dodgerblue;
    border-radius: 8px;
    border-width: thick;
    border-color: black;
    width: 35%;
}